[Desktop Entry]
Name=SeedDMS Client (Upload)
Comment=Client for uploading files into SeedDMS using the default profile
Categories=Network;System;
Type=Application
Terminal=true
Icon=seeddms
Exec=seeddms-client upload %f
